@{
    Layout = null;
}
@model Player

<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
    <link rel="stylesheet" href="~/css/wikipedia.css" />
</head>

<body>
    <wikirace-page-frame update-page-endpoint="@Url.Action("UpdatePage", "Game", new { name = "{}" })"
        current-page="@Model.CurrentPage"></wikirace-page-frame>
    <script src="~/lib/wikirace/index.js"></script>
</body>

</html>
