@model Player

@{
    ViewBag.Title = "Play";
    ViewBag.CustomRightHeader = true;
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}

@* <nav class="navbar navbar-light bg-light">
<div class="">
<ul class="navbar-nav">
</ul>
</div>
<div class=" justify-content-end">
<ul class="navbar-nav">
<li class="nav-item">
@if (Model.IsOwner)
{
<button class="nav-link btn btn-danger ps-4 pe-4 text-white me-2 ms-2 rounded-4" hx-trigger="click"
hx-post hx-confirm="Are you sure you want to end the game" hx-action="End" hx-controller="Game"
hx-route-gameId="@Model.Game.Id">End</button>
}
else
{
<button class="nav-link btn btn-danger ps-4 pe-4 text-white me-2 ms-2 rounded-4" hx-trigger="click"
hx-post hx-action="Leave" hx-confirm="Are you sure you want to Leave the game" hx-controller="Game"
hx-route-gameId="@Model.Game.Id">Leave</button>
}
</li>
</ul>
</div>
</nav> *@


<div class="hidden" hx-sse="connect:/game/@Model.Game.Id/state">
    <div hx-trigger="sse:@EventNames.EndGame" hx-redirect hx-alert="Game has ended" hx-get hx-controller="Home"
        hx-action="Index"></div>
    <div hx-trigger="sse:@EventNames.KickPlayer" hx-redirect
        hx-alert="You have been kicked form the game                                                                                                   "
        hx-get hx-controller="Home" hx-action="Index"></div>
    <div hx-trigger="sse:@EventNames.WinGame" hx-redirect hx-get hx-controller="Game" hx-action="Win"></div>

</div>

<iframe class="page-frame bg-white" src="/game/@Model.Game.Id/pageframe"></iframe>


@section CustomRightHeader
{
    @if (Model.IsOwner)
    {
        <button class="btn-red hover-pop" hx-trigger="click" hx-post hx-confirm="Are you sure you want to end the game"
    hx-action="End" hx-controller="Game" hx-route-gameId="@Model.Game.Id">End</button>
    }
    else
    {
        <button class="btn-red hover-pop" hx-trigger="click" hx-post hx-action="Leave"
    hx-confirm="Are you sure you want to Leave the game" hx-controller="Game"
    hx-route-gameId="@Model.Game.Id">Leave</button>
    }
    }
    }