@model Player
@{
    ViewBag.Title = "Win Game";
    Layout = "~/Views/Shared/_GameLayout.cshtml";

    var game = Model.Game;
    var winner = game.Players.First(p => p.IsWinner);
}
@inject AppDbContext dbContext

@section Styles {
    <link href="~/css/win.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/canvas-confetti/dist/confetti.browser.min.js"></script>

    <script>
        confetti({
            particleCount: 150,
        });
    </script>
}


<div class="text-center mt-5">
    <img src="@winner.GetUser(dbContext).AvatarUrl" class="profile-pic">
    <h1>Player @winner.Username Wins!</h1>

</div>

<div class="d-flex justify-content-center gap-4">

    <div class="text-center mt-5">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">View Profile</a>
    </div>


    <div class="text-center mt-5">
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Lobby</a>
    </div>

</div>
