<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Head", required: false)
</head>

<body>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/htmx/dist/htmx.min.js"></script>
    <script src="~/lib/htmx/dist/ext/sse.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>