<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Head", required: false)
</head>

<body hx-ext="redirect">
    <div class="h-100">
        <nav class="navbar navbar-light bg-light">
            <div class="">
                <ul class="navbar-nav">
                    @RenderSection("NavbarStart", required: false)
                </ul>
            </div>
            <div class=" justify-content-end">
                <ul class="navbar-nav">
                    @RenderSection("NavbarEnd", required: false)
                </ul>
            </div>
        </nav>

        @RenderBody()
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/htmx/dist/htmx.min.js"></script>
    <script src="~/lib/htmx/dist/ext/sse.js"></script>
    <script src="~/js/htmx-redirect.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>