@model JoinGameModel
@{
    ViewData["Title"] = "Join Game";
}

<form asp-action="Join" method="post">
    <div class="form-group">
        <label asp-for="JoinCode"></label>
        <input asp-for="JoinCode" class="form-control" />
        <span asp-validation-for="JoinCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DisplayName"></label>
        <input asp-for="DisplayName" class="form-control" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Join</button>
</form>