<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/css/index.css" rel="stylesheet" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Head", required: false)
</head>

<body hx-ext="redirect" class="ocean-bg">
    <div class="h-100 root">
        <div class="w-screen">
            <div class="w-max"></div>
            <div class="w-max"></div>

            <div class="flex place-content-end">
                <div class="bg-surface0 text-text p-3 pl-5 rounded-bl-3xl gap-3 flex">
                    @if (ViewBag.CustomRightHeader != null)
                    {
                        @RenderSection("CustomRightHeader", required: false)
                    }
                    else
                    {
                        <partial name="_LoginPartial" />
                    }
                </div>
            </div>

        </div>
        @RenderBody()
    </div>

    <div class="mobile-bg"></div>
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>