<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/game_layout.css">
    <link rel="stylesheet" href="~/css/shared.css" asp-append-version="true" />
    <link href="~/css/ocean.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Head", required: false)
</head>

<body hx-ext="redirect">
    <div class="h-100 root">
        @RenderBody()
    </div>


    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>