@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
</head>

<body>
    <wikirace-page-frame update-page-endpoint="@Url.Action("UpdatePage", "Game", new { })" current-page="Google"></wikirace-page-frame>
    <script src="~/js/dist/PageFrame.js"></script>
</body>

</html>
