@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column align-items-center">
    <div class="d-flex flex-row align-items-center flex-fill">
        <div class="d-flex flex-column align-items-center p-4 floating-card text-bg-info rounded-4 gap-2">
            <img src="~/icons/wikirace.svg"></img>
            <h1 class="display-4 pb-4">Wikirace</h1>

            <div style="display: contents;">
                <div class="d-flex flex-row gap-2 w-75 pb-4 pt-2">
                    <a asp-controller="Session" asp-action="Join" class="btn btn-primary w-100">Join Game</a>
                    <a asp-controller="Session" asp-action="Create" class="btn btn-warning w-100">Create Game</a>
                </div>
            </div>
            <h3 class="text-md">How to Play</h3>
            <p class="lead text-center">
                Welcome to Wikirace! The goal of the game is to get from one Wikipedia page to another using
                only the links on the page. The player who gets to the destination page in the fewest clicks wins!
            </p>
        </div>
    </div>
</div>
