.root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    top: 0;
    left: 0;
}

/* additional styles */
.backgroud {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgb(65, 196, 222);
    overflow: hidden;
    z-index: -2;
  }
  
  .bg-box {
    min-width: 50vmin;
    min-height: 50vmin;
    background-color: #0095aa;
    position: fixed;
    top: -15vmin;
    left: -15vmin;
    z-index: -1;
    transform: rotate(45deg);
    border-radius: 2rem;
  }
  
  .bg-circel {
    position: fixed;
    min-width: 30vmin;
    min-height: 30vmin;
    top: -7vmin;
    right: -7vmin;
    z-index: -1;
    border-radius: 100%;
    transform: rotate(-45deg);
    background-color: #0095aa;
  }
  
  .hexagon-1 {
    position: fixed;
  
    bottom: -7vmin;
    left: -7vmin;
    min-width: 15vmin;
    min-height: 15vmin;
  
    max-width: 30vmin;
    max-height: 26vmin;
    border-radius: 2rem;
    width: 100%;
    height: 60%; /* width*√3/2 */
  
    clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(20deg);
  
    background: #0095aa;
  }
  
  .triangle {
    min-width: 50vmin;
    min-height: 50vmin;
    background-color: #0095aa;
    position: fixed;
    bottom: -15vmin;
    right: -15vmin;
    z-index: -1;
    transform: rotate(-70deg);
    border-radius: 1rem;
  }
  