@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="container mx-auto bg-surface0 max-w-lg rounded-2xl m-10">
    <div class="p-8 text-text flex items-center flex-grow flex-col gap-2">
        <img class="max-w-64" src="~/icons/wikirace.svg"></img>
        <h1 class="text-5xl">Wikirace</h1>

        <div class="flex w-full justify-center gap-4 text-center max-w-xs">
            <a class="hover-pop btn-blue w-1/2" asp-controller="Session" asp-action="Join">Join Game</a>
            <a class="hover-pop btn-mauve w-1/2" asp-controller="Session" asp-action="Create">Create Game</a>
        </div>
        <h3 class="text-xl text-subtext0">How to Play</h3>
        <p class="text-subtext0 text-center">
            Welcome to Wikirace! The goal of the game is to get from one Wikipedia page to another using
            only the links on the page. The player who gets to the destination page in the fewest clicks wins!
        </p>
    </div>
</div>
