@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>

    This Privacy Policy describes how Wikirace collects, uses, and discloses your
    personal information when you visit our website, <a href="https://wikirace.app">wikirace.app</a>.
</p>

<h3>Information We Collect</h3>

<p>
    We use Google Analytics, a web analytics service provided by Google, Inc. ("Google"). Google Analytics uses cookies,
    which are text files placed on your browser, to help us analyze how users interact with our Site. The information
    collected through cookies ("Information") may include your IP address, device type, operating system, browsing
    activity, and device identifier.
</p>

<h3>How We Use the Information</h3>

<p>
    We use the Information to:

    Understand how users interact with our Site
    Improve the performance and content of our Site
    Personalize your experience on our Site
    Analyze usage trends
    Compile statistical reports
    Disclosure of Information

    We may disclose the Information to:

    Google, in accordance with their Privacy Policy: <a
        href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>
    Service providers who help us operate our Site and analyze usage data
    Law enforcement or regulatory authorities, as required by law
</p>

<h3>Your Choices</h3>
<ul>
    <li>
        You can control how Google Analytics collects and uses your data by visiting the Google Analytics opt-out page:
        <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.
    </li>

    <li>
        You can manage your privacy settings and revoke access to your information from Google and/or GitHub accounts
        through
        their respective platforms.
    </li>
    <li>
        You can also delete your account on our website, which will remove all associated data.
    </li>
</ul>


<h3> Data Retention</h3>

<p>
    We retain the Information for the period necessary to fulfill the purposes outlined in this Privacy Policy, unless a
    longer retention period is required by law.
</p>
<h3>Third-Party Logins</h3>
<p>
    We offer login options through Google and GitHub accounts. By choosing to log in with one of these services, you are
    authorizing us to access certain information from your respective account, such as your username, email address, and
    profile picture.
    We do not store your passwords associated with these accounts.
    For more information on how Google and GitHub handle your data, please refer to their respective privacy policies:
<ul>
    <li>Google: https://policies.google.com/privacy</li>
    <li>GitHub: https://docs.github.com/articles/github-privacy-statement</li>
</ul>
</p>
<h3>Data We Collect from Third-Party Logins</h3>
<p>
    The specific information we collect from your Google and/or GitHub account may vary depending on the functionality
    offered on our website. We will only collect and use the information necessary to provide you with the requested
    service.
    This information may typically include:
</p>
<ul>
    <li>Username</li>
    <li>Email address</li>
    <li>Profile picture</li>
    <li>Public profile information (if made available by the service)</li>
</ul>
<p>
    We use the information collected from your Google and/or GitHub account to:
    Create and manage your user account on our website
    Authenticate your identity when you log in
    Personalize your experience on our website (if applicable)
    Communicate with you regarding your account and activity on our website (e.g., sending account notifications)
</p>

<h3>Disclosure of Information from Third-Party Logins</h3>
<p>
    We will not share your information collected from Google and/or GitHub accounts with any third-party without your
    consent, except as required by law or to protect our rights and interests.
</p>

<h3>Contact Us</h3>
<p>
    If you have any questions about this Privacy Policy, please contact us at <a
        href="mailto:bedsteler2.0+wikirace@gmail.com">bedsteler20@gmail.com</a>.
</p>