@model JoinGameModel
@{
    Layout = "~/Views/Shared/_GameLayout.cshtml";
    ViewData["Title"] = "Join Game";
}


<div class="container mx-auto bg-surface0 max-w-lg rounded-2xl m-10">
    <div class="p-8 text-text flex items-center flex-grow flex-col">
        <form class="text-center" asp-action="Join" method="post">
            <h1 class="display-4 pb-8 text-4xl">Join Game</h1>
            @if (!Model.HideJoinCode)
            {
                <div class="mb-3 flex flex-col">
                    <input placeholder="Game Code" autocomplete="off" class="input" asp-for="JoinCode" />
                    <span asp-validation-for="JoinCode" class="text-red"></span>
                </div>
            }
            else
            {
                <input autocomplete="off" asp-for="JoinCode" type="hidden" />
            }

            <div class="mb-3 flex flex-col">
                <input placeholder="Display Name" autocomplete="off" class="input" asp-for="DisplayName"
                    class="input" />
                <span asp-validation-for="DisplayName" class="text-red"></span>
            </div>

            <button type="submit" class="btn-blue pr-8 pl-8">Join</button>
        </form>
    </div>
</div>
